__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
.eggs/
dist/
build/
.ipynb_checkpoints
*.ipynb
.vscode/
.idea/
*.code-workspace
*.log
*.tmp
*.bak
*.swp
.cache/
logs/
*.DS_Store
.streamlit/secrets.toml
.env
*.csv
*.xlsx
*.json
results/
exports/
outputs/
Thumbs.db
.DS_Store